body {
  /* background-color: #2B2726; */
  background-color: #1B1D24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 20px 0;
  /* background-color: #F0EC8B;  */
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #5D9D0B;  
}

.top-menu {
  /* background-color: #8E43ED; 
  color: #F0EC8B;   */
  background-color: #5D9D0B; 
  /* background-color: #365A08;  */
  padding: 10px 0;
  text-align: center;
}

.top-menu ul {
  list-style-type: none;
  padding: 0;
}

.top-menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.top-menu ul li a {
  /* color: #F0EC8B; */
  color: #1B1D24;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
}

.top-menu ul li a:hover {
  /* background-color: #403541;    */
  background-color: #72EB3A;   
}

.main-content {
  text-align: center;
  margin: 20px auto; 
  max-width: 800px;
}

.content {
  text-align: left;
  border-radius: 8px;  
  padding: 20px;
  border: none; 
  /* background-color: #403541; */
  background-color: #5D9D0B; 
  border: 1px solid #5D9D0B;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.game {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color:  #F0EC8B; */
  background-color:  #72EB3A;
  border: 1px solid #72EB3A; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
