body {
  background-color: #ffebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 20px 0;
  background-color: #ffebeb; 
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #d32f2f;  
}

.top-menu {
  background-color: #f8b2b2; 
  color: #fff;  
  padding: 10px 0;
  text-align: center;
}

.top-menu ul {
  list-style-type: none;
  padding: 0;
}

.top-menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.top-menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.top-menu ul li a:hover {
  background-color: #e57373;   
}

.main-content {
  text-align: center;
  margin: 20px auto; 
  max-width: 800px;
}

.content {
  text-align: left;
  border-radius: 8px;  
  padding: 20px;
  border: 1px solid #ffcccc; 
  background-color: #f8b2b2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.game {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:  white;
  border: 1px solid #ffcccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
